.home {
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
}

.logout {
    margin: 10px 10px 20px 0px;
    font-size: small;
}

h6 {
    margin-top: 5px;
}

.first-button {
    margin-right: 40px;
}

.create-button-div {
    margin-bottom: 10px;
    text-align: right;
}

.create-button {
    background-color: rgb(116, 116, 116);
}

.create-button:hover {
    background-color: rgb(59, 59, 59);
}

.update-buttons {
    background-color: rgb(26, 138, 251);
}

.update-buttons:hover {
    background-color: rgb(17, 83, 152);
}

.delete-buttons {
    margin-left: 50px;
}

.form-group {
    margin-bottom: 20px;
    width: 50%;
}