.home {
    align-items: center;
    margin: 40px;
}

.first-button {
    margin-right: 40px;
}

.create-button {
    margin-bottom: 10px;
    text-align: right;
}

.form-group {
    margin-bottom: 20px;
    width: 50%;
}