.giant-block {
    margin-top: 15px;
    margin-left: 20px;
    font-weight: 500;
    width: 50%;
}

#error {
    width: 63%;
}

Button.back-button {
    background-color: white;
    border-color: white;
    color: rgb(0, 0, 139);
}

Button.back-button:hover {
    background-color: white;
    border-color: white;
    color: rgb(1, 1, 61);
}

.input-field, .alert {
    width: 63%;
}

.second-col {
    margin-top: 50px;
}

.alert {
    font-weight: 400;
}

