.giant-block {
    margin-top: 15px;
    margin-left: 20px;
    font-weight: 500;
    width: 50%;
}

.form, p {
    margin-left: 115px;
}

a, p {
    font-weight: 400;
    color: grey;
}
.second-col {
    margin-left: 30px;
    padding-left: 5px;
    margin-top: 50px;
}

img {
    margin-left: 20px;
}

.update-button {
    background-color: rgb(78, 166, 255);
    margin-right: 20px;
}

.update-button:hover {
    background-color: rgb(26, 117, 215);

}

.hours, .minutes {
    padding-top: 12px;
}
